.hero_container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 240px;
	color: var(--clr-seasalt);

    hr {
        position: absolute;
        bottom: 0;
        width: 80%;
        max-width: 1200px;
        border-bottom: 4px solid var(--clr-goldie);
    }

	h1 {
		position: absolute;
        width: 77%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: var(--font-poppins);
		font-size: 40px;
        text-align: center;
        color: var(--clr-pepper);
		max-width: 1440px;

		span {
			font-family: var(--font-rale);
			font-weight: 500;
			color: var(--clr-sapphire);
		}
	}

    @media (max-width: 1024px) {
        h1 {
            font-size: 38px;
        }
    }

    @media (max-width: 1024px) {
        hr {
            width: 77%;
        }

        h1 {
            width: 77%;
            font-size: 34px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 30px;
            text-align: start;
        }
    }
}

@media (max-width: 1280px) {
    .hero_container {
        height: 200px;
    }
}
