@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Raleway", sans-serif;
  --clr-keppel: #06bbaa;
  --clr-opaleppel: #3b9289f2;
  --clr-opakeppel: #3b9289c1;
  --clr-shamrock-green: #339d5aff;
  --clr-sapphire: #2e50aaff;
  --clr-deep: #002d6bda;
  --clr-navy: #223874;
  --clr-ultra-violet: #545b77ff;
  --clr-gold: #E3CD96;
  --clr-goldie: #cfc099;
  --clr-seasalt: #fafafa;
  --clr-sand: #f5f5f5;
  --clr-pepper: #212121;
}

html {
  scroll-behavior: smooth;
  background-color: var(--clr-seasalt);
  font-family: var(--font-family);
}

::selection {
  background: var(--clr-ultra-violet);
  color: var(--clr-seasalt)
}

/* Custom styles */
@layer utilities {
  .navbar-menu ul li.menu-item {
    position: relative;
  }

  .navbar-menu ul li.menu-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #2E50AA;
    transition: width 0.3s ease-in-out;
  }

  .navbar-menu ul li.menu-item:hover::after {
    width: 100%;
  }
}

img {
  user-select: none;
}

svg {
  user-select: none;
}

.fade-in {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}