.grid_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	color: var(--clr-ultra-violet);

	.header_title {
		font-family: var(--font-poppins);
		font-weight: 400;
		font-size: 32px;
	}

	.header_cta {
		button {
			display: inline-block;
			padding: 8px 15px;
			background-color: var(--clr-seasalt);
			color: var(--clr-ultra-violet);
			border-radius: 8px;
			transition: background-color 0.3s, color 0.36s;
			font-family: var(--font-poppins);
			font-weight: 400;
			font-size: 20px;

			&:hover {
				background-color: var(--clr-ultra-violet);
				color: var(--clr-seasalt);

				.arrow {
					border-color: var(--clr-seasalt);
				}
			}

			.arrow {
				border-style: solid;
				border-color: var(--clr-ultra-violet);
				border-width: 0 2px 2px 0;
				border-radius: 1px;
				display: inline-block;
				padding: 3px;
				margin-bottom: 1px;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				transition: border-color 0.36s;
			}
		}

		@media (max-width: 768px) {
			button {
				display: inline-block;
				padding: 7px 14px;
				font-size: 18px;
			}
		}
	}

	@media (max-width: 1280px) {
		.header_title {
			font-size: 30px;
		}
	}

	@media (max-width: 1024px) {
		.header_title {
			font-size: 26px;
		}
	}

	@media (max-width: 1024px) {
		.header_title {
			font-size: 28px;
		}
	}
}

.grid_content {
	position: relative;
	display: flex;
	align-items: center;
	justify-items: center;
	width: 80%;
	height: 400px;
	max-width: 1280px;
	overflow-x: hidden;

	.grid_slider {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: flex-start;
		justify-items: center;
		width: 100%;
		height: 100%;
		gap: 40px;

		.grid_post {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 34%;
			height: 100%;
			transition: all 0.3s linear;

			.post_img {
				position: relative;
				display: flex;
				border-radius: 16px;
				overflow: hidden;

				img {
					object-fit: cover;
					z-index: 1;
				}

				.post_overlay {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: linear-gradient(
						180deg,
						#ff000000 40%,
						var(--clr-gold) 130%
					);
					z-index: 2;
				}
			}

			.post_title {
				color: var(--clr-pepper);
				font-family: var(--font-rale);
				font-weight: 600;
				font-size: 23px;
				margin-top: 10px;
			}

			.post_excerpt {
				font-family: var(--font-rale);
				font-weight: 500;
				font-style: italic;
				font-size: 16px;
				color: var(--clr-pepper);
				margin-top: 10px;
			}

			@media (max-width: 1280px) {
				.post_title {
					font-size: 20px;
				}

				.post_excerpt {
					font-size: 14px;
				}
			}

			@media (max-width: 1024px) {
				.post_title {
					font-size: 22px;
				}

				.post_excerpt {
					font-size: 16px;
				}
			}

			@media (max-width: 768px) {
				.post_title {
					min-height: 0px;
					font-size: 20px;
					margin-top: 15px;
				}

				.post_excerpt {
					font-size: 14px;
					margin-top: 10px;
				}
			}
		}

		.loading_skeleton {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 3%;
			width: 34%;
			height: 100%;
			border: 3px solid;
			border-radius: 10px;
			padding: 10px;
			animation: pulse-background 1.1s infinite alternate ease-in-out;
		}
		
		.loading_thumbnail {
			width: 100%;
			height: 80%;
			transition: all 0.3s linear;
			border-radius: 4px;
			animation: pulse-skeleton 1.1s infinite alternate ease-in-out;
			animation-delay: -600ms;
		}
		
		.loading_text {
			width: 100%;
			height: 3.5%;
			transition: all 0.3s linear;
			border-radius: 2px;
			background-color: #dde0e9;
			animation: pulse-skeleton 1.1s infinite alternate ease-in-out;
			animation-delay: 0ms;
		}
		
		.loading_text:nth-child(2) {
			height: 4.5%;
			animation-delay: -400ms;
		}
		.loading_text:nth-child(3) {
			height: 4.5%;
			animation-delay: -200ms;
		}
		
		@keyframes pulse-background {
			0% {
				background-color: #dde0e9;
				border-color: #dde0e9;
			}
			100% {
				background-color: #bfc5d8;
				border-color: #bfc5d8;
			}
		}
		
		@keyframes pulse-skeleton {
			0% {
				background-color: #bfc5d8;
				border-color: #bfc5d8;
			}
			100% {
				background-color: #dde0e9;
				border-color: #dde0e9;
			}
		}

		@media (max-width: 1280px) {
			.grid_post {
				width: 100%;
				height: 90%;
			}
		}
	}

	.dots {
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;

		.dot {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #bbb;
			margin: 0 10px;
			cursor: pointer;
		}

		.active_dot {
			background-color: #333;
		}
	}

	@media (max-width: 1280px) {
		.grid_slider {
			width: 152%;
			gap: 3%;
		}
	}

	@media (max-width: 768px) {
		.grid_slider {
			width: 319%;
		}
	}
}

@media (max-width: 1280px) {
	.grid_header,
	.grid_content {
		width: 72%;
	}

	.grid_content {
		height: 360px;
	}
}

@media (max-width: 1024px) {
	.grid_header,
	.grid_content {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.grid_header,
	.grid_content {
		width: 77%;
	}
}
